<div class="nestd-fields">
  <%= f.label :description %>
  </br>
  <%= f.text_field :description, class:"form-control col-sm-6" %>
  <%= f.check_box :correct %>Correct?
  <%= link_to_remove_association('Remove', f) %>
</div>
