</br>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New</h1>
  </div>
</div>
</br>

<%= render partial: 'admins_backoffice/questions/shared/form', locals: {action_message: "Creating"} %>